@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

*{
    box-sizing: border-box;
}
header{
    background-color: #5DA38B;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 12px;
    padding-bottom: 20px;
}
header h1 {
    color: #ffffff ;
    font-size: 50px;
    float: left;
    font-family: 'Libre Barcode 128 Text', cursive;
}
header h1 a {
    text-decoration: none;
    color: #ffffff ;
    font-size: 50px;
    float: left;
    font-family: 'Libre Barcode 128 Text', cursive;
}
header nav{
    float: right;
    padding: 0 30px;
    color: #ffffff;
}
header nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
}
header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
}
main{
    margin-top: 150px;
    margin-bottom: 500px;
}
#leftImg{
    float: left;
    width: 400px;
    height: 400px;
    border: 20px solid #ddd;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 54px;
}
#leftImg:hover, #midImg:hover, #rightImg:hover {
    box-shadow: 0 0 2px 1px #E8493A;
}
#midImg{
    float: left;
    width: 400px;
    height: 400px;
    border: 20px solid #ddd;
    border-radius: 20px;
    margin-right: 50px;
}
#rightImg{
    float: right;
    width: 400px;
    height: 400px;
    border: 20px solid #ddd;
    border-radius: 20px;
    margin-right: 115px;
}
#rounds{
    clear: both;
    margin-bottom: 50px;
    text-align: center;    
    color: #E8493A;
    padding-right: 40px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#button{
    border: none;
    border-radius: 70px;
    background: #E8493A;
    padding: 8px 30px;
    color: #FFF;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
  #button:hover {
    box-shadow: 0 0 2px 1px #E8493A;
    background-color:  #E8493A;
    color: #ffffff;
    transition-delay: 350ms;
}
#results{
    text-align: center;
    font-weight: bold;
    color: #000000;
    width: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 510px;
    font-size: 20px;
    line-height: 2em;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
}

footer{
    clear: both;
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}
